

#error {
  color: red;
  display: none;
}

* {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    display: none;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

.light {
    background-color: aliceblue;
    color: black !important;
    

}

.boxesborder {
  border : 2px solid black !important;
  color: black !important;
}

#main-header{
    border-bottom: solid 2px white;
    flex-shrink: 1;
    height: 10vh;
    position: relative;
    text-align: center;

}

#listbuttons {
    
    position: absolute;
    left: 10px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.items {
    margin: 10px;
}

#sec{
    display: flex;
    flex-grow: 1;
    height: 80vh;
    flex-direction: row;
    flex-wrap: wrap;
}


#mainsection {
  
   
    flex-grow: 2;

    text-align: center;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    

}


#search {
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    flex-grow: 0.5;
    text-align: center;
    flex-direction: column;
    display: none;
    height: 30vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.view {
    display: flex !important    ;

}


#footersection {
    border-top: solid 2px white;
    flex-shrink: 1;
    height: 10vh;
    width: inherit;

}

  

#myform {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   


   
}

#mainlist > li {
    margin: 30px
}


@media only screen and (max-width: 829px)  {


    #sec{
        flex-direction: column;
    }

    #mainsection{
        flex-wrap: wrap;
        border-bottom: white 2px solid;
    }

    #weatherinfo {
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
    }
    .boxes{
   
      border : 2px solid yellow;
      display: flex;
      width: 90px !important;
      height: 90px !important;
      justify-content: center;
      align-items: center;
      font-size: x-small !important;
    }
  


    #search {
        border-right: 0px;
        flex-grow: 0.5;
        text-align: center;
        flex-direction: column;
        display: none;
        height: 20vh;
    }

    .items {
        margin: 0px;
    }
    


 #State {
  width: 50px  !important;
  height: 50px !important;
 }


  #grid {
    display: grid;
  
    grid-template-columns: 1fr 1fr 1fr !important;
    grid-template-rows: 1fr 1fr 1fr !important;
    grid-gap: 20px;
  }
    



#listbuttons {
    
    position: none;
    left: 0px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding: 0px;
}


   
}

input[type=text]:focus {
    border: 3px solid #555;
    transition: width 0.4s ease-in-out;
  }


  #searchWeather:hover {
    background-color: lightcyan;
    width: 70px;
    height: 30px;

  }

  #searchWeather{
    margin-top: 10px;

  }


  label {
    display: inline-block;
    width: 150px;
    text-align: right;
  }



  .fields{
    border-radius: solid 20px;
  }




  #weatherinfo {
   
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  #formlist {
    list-style: none;

    display: flex;
    flex-direction: column;
    justify-content: space-around  ;
    align-items: start;
 
    
   

  }
 

  #footersection {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  #grid {
    display: none;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }

  .boxes{
   
    border : 2px solid yellow;
    display: flex;
    width: 150px;
    height: 150px;
    justify-content: center;
    align-items: center;
    border-radius: 40px 20px 30px 0px;
    flex-direction: column;
    color: gold;
  }


  
  
 #State {
  width: 80px;
  height: 80px;
 }


 #dropdown {
  margin: 2px 0px;
  width: 40px;
 }

 #units-option {
  margin: 2px 0px;
 }