body {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
}

.light {
    background-color: aliceblue;
    color: black;
}


#main-header{
    border-bottom: solid 2px white;
    flex-shrink: 1;
    height: 10vh;
    position: relative;
    text-align: center;

}

#listbuttons {
    
    position: absolute;
    left: 10px;
    list-style: none;
}



#sec{
    display: flex;
    flex-grow: 1;
    height: 80vh;
    flex-direction: row;
    flex-wrap: wrap;
}


#mainsection {
    border-left: white;
   
    flex-grow: 2;

    text-align: center;
    
    

}


#search {

    border-right: 2px solid white;
    flex-grow: 0.5;
    text-align: center;
    flex-direction: column;
    display: none;
}
.view {
    display: flex !important    ;

}


#footersection {
    border-top: solid 2px white;
    flex-shrink: 1;
    height: 10vh;
    width: inherit;

}


#myform {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: inherit;
    padding: 40px 0;
   
    flex-grow: 1;
}



@media only screen and (max-width: 600px)  {


    #sec{
        flex-direction: column-reverse;
    }
}


